<div class="container">
  <div class="jumbotron">
    <h1>No te detengas! Canta! y disfruta!</h1>
    <p>Bienvenido a una nueva experiencia de karaoke.</p>
    <p></p>
    <p>
      
    </p>
  </div>
</div> <!-- /container -->