<div class="page-header">
  <%= link_to cancions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h1>Nueva canción</h1>
</div>

<%= render 'form' %>
