<div class="page-header">
  <%= link_to tipo_usuarios_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to @tipo_usuario, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h1>Editar tipo de usuario</h1>
</div>

<%= render 'form' %>
